- if @team.nil?
  .maincontent#maincontent
    %h1 You haven't been assigned to any team.
- else
  %h1= @team.name
  %hr
  .maincontent#maincontent
    %h3 Members
    %ul
    - @team.students.each do |s|
      %li
        %a{href: student_path(s.id) }= s.full_name
    - if @team.google_drive.present?
      %p
        %b
          %a{href: @team.google_drive} Google Drive
    - if @team.trello_link.present?
      %p
        %b
          %a{href: @team.trello_link} Trello
  %a.wdn-button.wdn-button-triad{ href: edit_team_path(@team.id)} Edit