%h2 iLab Login
.wdn-grid-set
  %form.zenbox.wdn-col-three-fifths{action: "?", method: "post"}
    %fieldset
      %legend Please fill your username and password
      %ol
        %li
          %label{for: "name"}
          %span.required *
          Name
          %span.helper Enter Your Username
          %input{type: "text", id: "username", name: "username"}
        %li
          %label{for: "password"}
          %span.required *
          Password
          %span.helper Enter Your Password
          %input{type: "password", id: "password", name: "password"}
        %li.reqnote
          %span.required *
          denotes required field
        %input{type: "submit", value: "LOGIN", name: "login"}
        %input.wdn-button.wdn-button-white{type: "reset", value: "CLEAR", name: "reset", style: "color: #a5a5a5"}
        %a Fogot Password?

  .wdn-col-two-fifths.wdn-infographic.wdn-infographic-globe-triad{style: "padding-left: 50px"}
    %b Links