%h4
  Username:
  = @user.name
%h4
  Temporary Password:
  = @password
%h4
  User Type:
  = @user.utype
%p ----------------------------------------
This is temporary password, please go and change your password.