%h1 Apply for Projects
.wdn-main#maincontent
  = render 'shared/error_messages'
  - if @projects.empty?
    %p No project currently.
  - else
    %table.zentable
      %tr
        %thead
          -#%th
          %th Project Name
          %th Sponsor Name
          %th Proposal
          %th Active
          %th Status
          %th Preference
          %th
      -@projects.each do |p|
        -next if p.semester != current_user.student.semester
        -next if p.active != true
        %tr
          -#%td{style: 'text-align: center'}= check_box_tag 'project[]', p.id
          %td
            %a{ href: project_path(p.id), title: 'Show Project' }=p.name
          %td
            %a{href: sponsor_path(p.sponsor)}= Sponsor.find(p.sponsor).full_name
          %td
            - if p.proposal?
              %a{href: "#{p.proposal.url}"}= p.proposal_file_name
            - else
              No Proposal
          %td
            - if p.active
              Available
            - else
              Not Available
          %td
            - if p.status
              Open
            - else
              Closed
          - if StudentPreference.where(:student_id => current_user.student.id, :project_id => p.id).first.nil?
            %td
              No Rating
            %td
              - if p.status
                %a.wdn-button.wdn-button-triad{ href: new_student_preference_path(current_user.student.id, { project_id: p.id } ) } Rate
              - else
                %a.wdn-button.wdn-button-triad.cursor-pointer{ onclick: "alert('Project has been closed to rate!')" } Rate
          - else
            %td
              - @sp = StudentPreference.where(:student_id => current_user.student.id, :project_id => p.id).first
              %a{href: student_preference_path(:student_id => current_user.student.id, :id => @sp.id)}=@sp.rating
            %td
              - if p.status
                %a.wdn-button.wdn-button-triad{ href: edit_student_preference_path(current_user.student.id, @sp.id) } Edit
              - else
                %a.wdn-button.wdn-button-triad.cursor-pointer{ onclick: "alert('Project has been closed to rate!')" } Edit
