- if object.errors.any?
	%script{ type: "text/javascript" }
		WDN.initializePlugin('notice');
	.wdn_notice.negate
		.close 
			%a{ href: '#'} Close this notice
		.message
			- object.errors.full_messages.each do |msg|
				%p= msg
