%h1 sponsors

-#=flash.each do |key, value|
-#  = value

%table.zentable
  %tr
    %thead
      %th First Name
      %th Last Name
      %th Organization
      %th Email
      %th Edit
  -@sponsors.each do |s|
    %tr
      %td= s.first_name
      %td= s.last_name
      %td= s.orgnization
      %td
        %a{:href => "mailto:" + s.email }= s.email
      %td
        %b +
