%h1
  %strong= @sponsor.full_name
%hr
.maincontent#maincontent
  %h4.inline Email:
  %h4.inline
    %a.wdn-icon-mail{style: 'text-decoration: none', href: "mailto:#{@sponsor.email}"}= @sponsor.email
  %br
  %h4.inline Project:
  - if @projects.empty?
    No Project.
  - else
    - @projects.each do |s|
      %h4.inline
        %a{style: 'text-decoration: underline', href: project_path(s.id)}=s.name
        %span.tab
  %br
  %h4.inline= "Orgnization: #{@sponsor.organization}"
  %br
    %a.wdn-button.wdn-button-triad{ style: "padding-left: 12px; padding-right: 12px", href: edit_sponsor_path(@sponsor.id) } Edit