
// UNL Colors

$scarlet: #CC0000;
$cream: #F8F5EC;

$triad: #137CBD;
$light-triad: #1B9AE8;
$dark-triad: #41708D;

$complement: #008A2C;
$light-complement: #00BD3C;
$dark-complement: #38764C;

$neutral: #4A3B13;
$light-neutral: #554721;
$dark-neutral: #453E2B;

$energetic: #D4440B;
$light-energetic: #F35B1F;
$dark-energetic: #B34E26;

@font-face {
  font-family:'wdn-icon';
  src:font-url('wdn-icon.svg') format('svg');
}

.inline {
  display: inline;
  padding: 2px 0 2px 0;
}
.content-li {
  list-style: none;
}

#maincontent{
  padding-top: 10px;
  padding-bottom: 20px;
}