
// UNL Colors

$scarlet: #CC0000;
$cream: #F8F5EC;

$triad: #137CBD;
$light-triad: #1B9AE8;
$dark-triad: #41708D;

$complement: #008A2C;
$light-complement: #00BD3C;
$dark-complement: #38764C;

$neutral: #4A3B13;
$light-neutral: #554721;
$dark-neutral: #453E2B;

$energetic: #D4440B;
$light-energetic: #F35B1F;
$dark-energetic: #B34E26;

@font-face {
  font-family:'wdn-icon';
  src:font-url('wdn-icon.svg') format('svg');
}

.inline {
  display: inline-table;
  padding: 0;
  margin: 10px;
}
.content-li {
  list-style: none;
}

.cursor-pointer {
  cursor: pointer;
}

#maincontent{
  padding-top: 10px;
  padding-bottom: 20px;
}

.content-box{
  padding: 0px 15px 4px 15px !important;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 6px rgb(213, 213, 213);
  margin-bottom: 10px;
  min-height: 50px;
}

.tab {
  padding-right: 10px;
}

.tag-button {
  font-size: 8px !important;
  margin: 0px;
}

table {
  background: white;
  border: solid #ddd 1px;
}

.line-padding{
  padding-top: 12px !important;
}