%h1= "Saved Solutions"

-#.zenbox
-#  =form_tag(saved_solutions_path, remote: true, id: "solution") do
-#    = hidden_field_tag :authenticity_token, form_authenticity_token
-#    %table
-#      %tr
-#        %td Semester:
-#        %td Name:
-#        %td
-#      %tr
-#        %td= select_tag :semester, options_for_select(@semesters), :class => "no-margin", :prompt => "Please select a semester"
-#        %td#names= select_tag :name, options_for_select(""), :class => "no-margin", :prompt => "Please select a semester"
-#        %td=submit_tag "Check"

.wdn-main#maincontent
  %table.display#solutions
    %thead
      %th Semester
      %th Name
      %th
      %th
    %tbody
      -@solutions.each do |s|
        %tr
          %td= s.semester
          %td= s.name
          %td
            %a.tooltip{href: solution_path(s), title: "View Solution Table"} View
          %td
            = link_to "Auto Assign", auto_assign_solution_path(s), :method => :post, :class => "wdn-button wdn-button-complete tooltip", :style => "font-size: 10px",:title => "Auto Assign all Students with this solution"
