%ul
    %li
<<<<<<< HEAD
        %a{ href: "/teseting", title: "UNL homepage"} UNL
        %ul
            %li
                %a{href: "test", title: "Summary of the University"} About UNL
=======
        %a{ href: "#", title: "UNL homepage"} Home
    %li
        %a{ href: "#" } Projects
        %ul
            %li
                %a{ href: "#" } Pending
            %li
                %a{ href: "#" } Current
>>>>>>> 5eef8acee79ceaeb4db71e0b49d057384a05294a
            %li
                %a{ href: "#" } Inactive
    %li
        %a{ href: "#" } Applications
        %ul
            %li
                %a{ href: "#" } Sponsor Applications
            %li
                %a{ href: "#" } Sponsor Preference
            %li
                %a{ href: "#" } Student Preference
    %li
        %a{ href: "#" } Teams
        %ul
            %li
                %a{ href: "#" } Assign
            %li
                %a{ href: "#" } View
    %li
        %a{ href: "#" } Announcements
        %ul
            %li
                %a{ href: "#" } Edit
            %li
                %a{ href: "#" } Create
    %li
        %a{ href: "#" } User
        %ul
            %li
                %a{ href: "#" } Edit Student
            %li
                %a{ href: "#" } Edit Sponsor
            %li
<<<<<<< HEAD
                %a{ href: "#" } Parent's Association
    %li
        %a{ href: "#" } Visitor
        %ul
            %li
                %a{ href: "#" } Campus Maps
            %li
                %a{ href: "#" } Calendar of Events
            %li
                %a{ href: "#" } About Lincoln
            %li
                %a{ href: "#" } Affiliates
            %li
                %a{ href: "#" } Parent's Association
    %li
        %a{ href: "#" } Visitor
        %ul
            %li
                %a{ href: "#" } Campus Maps
            %li
                %a{ href: "#" } Calendar of Events
            %li
                %a{ href: "#" } About Lincoln
            %li
                %a{ href: "#" } Affiliates
            %li
                %a{ href: "#" } Parent's Association
    %li
        %a{ href: "#" } Visitor
        %ul
            %li
                %a{ href: "#" } Campus Maps
            %li
                %a{ href: "#" } Calendar of Events
            %li
                %a{ href: "#" } About Lincoln
            %li
                %a{ href: "#" } Affiliates
            %li
                %a{ href: "#" } Parent's Association
=======
                %a{ href: "#" } Edit Instructor
>>>>>>> 5eef8acee79ceaeb4db71e0b49d057384a05294a
