- if signed_in?
  - if current_user.utype == "instructor"
    %ul
      %li
        %a{ href: '/' } Home
        %ul
          %li
            %a{ href: "http://unl.edu", title: 'UNL Homepage'} UNL Homepage
            %a{ href: "http://cse.unl.edu/InnovationLab", title: 'Innovation Lab Homepage' } Innovation Lab
      %li
        %a{ href: '#', title: 'Application Tables' } Application
        %ul
          %li
            %a{ href: users_path, title: 'User Registration' } User Registration
            %a{ href: preferences_student_preferences_path, title: 'Student Application' } Student Application
      %li
        %a.cursor-pointer Projects
        %ul
          %li
            %a{ href: projects_path, title: 'Projects table' } Current Project Table
            %a{ href: sponsors_path, title: 'Sponsor Table' } Current Sponsors Table
            %a{ href: new_sponsor_path, title: 'Create New Sponsor' } New Sponsor Form
            %a{ href: new_project_path, title: 'create New Project' } New Project Form
      %li
        %a.cursor-pointer Teams
        %ul
          %li
            %a{ href: teams_path, title: 'Team Table' } All Teams Table
            %a{ href: new_team_path, title: 'Create New Team' } New Team Form
            %a{ href: '#', title: 'Team Work History' } Team Work Track
            %a{ href: '#', title: 'Team Notification' } Team Notification
      %li
        %a.cursor-pointer Students
        %ul
          %li
            %a{ href: students_path, title: 'Student Table' } All Students Table
            %a{ href: new_student_path, title: 'Create New student' } New Student Form
            %a{ href: '#', title: 'Assign Student to Team' } Team Assignment
      %li
        %a.cursor-pointer Links
        %ul
          %li
            %a{ href: '#' } some useful links
  - elsif current_user.utype == 'sponsor'
    %ul
      %li
        %a{ href: '/' } Home
        %ul
          %li
            %a{ href: "http://unl.edu", title: 'UNL Homepage'} UNL Homepage
            %a{ href: "http://cse.unl.edu/InnovationLab", title: 'Innovation Lab Homepage' } Innovation Lab
      %li
        %a{ href: '#', title: 'Application Tables' } Application
        %ul
          %li
            %a{ href: users_path, title: 'User Registration' } User Registration
            %a{ href: preferences_student_preferences_path, title: 'Student Application' } Student Application
      %li
        %a.cursor-pointer Projects
        %ul
          %li
            %a{ href: projects_path, title: 'Projects table' } Current Project Table
            %a{ href: sponsors_path, title: 'Sponsor Table' } Current Sponsors Table
            %a{ href: new_sponsor_path, title: 'Create New Sponsor' } New Sponsor Form
            %a{ href: new_project_path, title: 'create New Project' } New Project Form
      %li
        %a.cursor-pointer Teams
        %ul
          %li
            %a{ href: teams_path, title: 'Team Table' } All Teams Table
            %a{ href: new_team_path, title: 'Create New Team' } New Team Form
            %a{ href: '#', title: 'Team Work History' } Team Work Track
            %a{ href: '#', title: 'Team Notification' } Team Notification
      %li
        %a.cursor-pointer Students
        %ul
          %li
            %a{ href: students_path, title: 'Student Table' } All Students Table
            %a{ href: new_student_path, title: 'Create New student' } New Student Form
            %a{ href: '#', title: 'Assign Student to Team' } Team Assignment
      %li
        %a.cursor-pointer Links
        %ul
          %li
            %a{ href: '#' } some useful links
- else
  %ul
    %li
      %a{ href: '/' } Home
      %ul
        %li
          %a{ href: "http://unl.edu", title: 'UNL Homepage'} UNL Homepage
          %a{ href: "http://cse.unl.edu/InnovationLab", title: 'Innovation Lab Homepage' } Innovation Lab

/ Navigation below is tamperary, we may need to modify it.

/ After student login, it's better to show the announcement or to do list at the very front page
/ Student Navigation
/
/ if signed_in? && current_user.type == "student"
/  %ul
/    %li
/      %a{ href: '/' } Home
/      %ul
/        %li
/          %a{ href: "http://unl.edu", title: 'UNL Homepage'} UNL Homepage
/          %a{ href: "http://cse.unl.edu/InnovationLab", title: 'Innovation Lab Homepage' } Innovation Lab
/    %li
/      %a{ href: '#', title: 'Show All Projects' } Projects
/      %ul
/        %li
/ before project apply, need to check if he's uploaded his resume and coverletters, if not link to handin to upload.
/ we need check documents through cse database (where students handin their work)
/ project apply is to give preference to the project he wants to apply.
/ Preference of the project he doesn't apply will be set to 0 automatically after due date.
/ (preference is from 0 ot 5. 5 is the best)
/          %a{ href: '#', title: 'Apply for projects' } Project Apply
/           %a{ href: '#', title: 'Application Status' } Application Status
/ For teams, we may need add more later on.
/     %li
/       %a{ href: teams_path, title: 'Team Table' } Teams
/       %ul
/         %li
/           %a{ href: new_team_path, title: 'Create New Team' } Team Members
/          %a{ href: '#', title: 'Team Work History' } Team Work Track
/          %a{ href: '#', title: 'Team Notification' } Team Notification
/    %li
/      %a{ href: '#', title: 'Some Recommended Tools ' } Tools
/      %ul
/        %li
/          %a{ href: '#' } some useful tools

