%ul
    %li
        %a{ href: projects_path } Projects
        %ul
            %li
                %a{ href: new_project_path } New
    %li
        %a{ href: teams_path } Teams
        %ul
            %li
                %a{ href: new_team_path } New
    %li
        %a{ href: sponsors_path } Sponsors
        %ul
            %li
                %a{ href: new_sponsor_path } New
    %li
        %a{ href: instructors_path } Instructors
        %ul
            %li
                %a{ href: new_instructor_path } New
    %li
        %a{ href: students_path } Students
        %ul
            %li
                %a{ href: new_student_path } New

