%ul
    %li
        %a{ href: "#", title: "UNL homepage"} Home
    %li
        %a{ href: "#" } Projects
        %ul
            %li
                %a{ href: "#" } Pending
            %li
                %a{ href: "#" } Current
            %li
                %a{ href: "#" } Inactive
    %li
        %a{ href: "#" } Applications
        %ul
            %li
                %a{ href: "#" } Sponsor Applications
            %li
                %a{ href: "#" } Sponsor Preference
            %li
                %a{ href: "#" } Student Preference
    %li
        %a{ href: "#" } Teams
        %ul
            %li
                %a{ href: "#" } Assign
            %li
                %a{ href: "#" } View
    %li
        %a{ href: "#" } Announcements
        %ul
            %li
                %a{ href: "#" } Edit
            %li
                %a{ href: "#" } Create
    %li
        %a{ href: "#" } User
        %ul
            %li
                %a{ href: "#" } Edit Student
            %li
                %a{ href: "#" } Edit Sponsor
            %li
                %a{ href: "#" } Edit Instructor
