- if signed_in?
  -# This is admin navigation
  - if current_user.utype == "admin"
    %ul
      %li
        %a{ href: '/' } Home
        %ul
          %li
            %a{ href: "http://unl.edu", title: 'UNL Homepage'} UNL Homepage
            %a{ href: "http://cse.unl.edu/InnovationLab", title: 'Innovation Lab Homepage' } Innovation Lab
      %li
        %a{ href: '#', title: 'Application Tables' } Application
        %ul
          %li
            %a{ href: users_path, title: 'User Registration' } User Registration
            %a{ href: preferences_student_preferences_path, title: 'Student Preference' } Student Preferences
            %a{ href: preferences_sponsor_preferences_path, title: 'Sponsor Preference' } Sponsor Preferences

      %li
        %a.cursor-pointer Projects
        %ul
          %li
            %a{ href: projects_path, title: 'Projects table' } Current Project Table
            %a{ href: sponsors_path, title: 'Sponsor Table' } Current Sponsors Table
            %a{ href: new_sponsor_path, title: 'Create New Sponsor' } New Sponsor Form
            %a{ href: new_project_path, title: 'create New Project' } New Project Form
      %li
        %a.cursor-pointer Teams
        %ul
          %li
            %a{ href: teams_path, title: 'Team Table' } All Teams Table
            %a{ href: '#', title: 'Team Work History' } Team Work Track
            %a{ href: '#', title: 'Team Notification' } Team Notification
            %a{ href: new_team_path, title: 'Create New Team' } New Team Form
      %li
        %a.cursor-pointer Students
        %ul
          %li
            %a{ href: students_path, title: 'Student Table' } All Students Table
            %a{ href: new_student_path, title: 'Create New student' } New Student Form
            %a{ href: '#', title: 'Assign Student to Team' } Team Assignment
      %li
        %a.cursor-pointer Links
        %ul
          %li
            %a{ href: '#' } some useful links

    -# This is instructor navigation
  - elsif current_user.utype == "instructor"
    %ul
      %li
        %a{ href: '/' } Home
        %ul
          %li
            %a{ href: "http://unl.edu", title: 'UNL Homepage'} UNL Homepage
            %a{ href: "http://cse.unl.edu/InnovationLab", title: 'Innovation Lab Homepage' } Innovation Lab
      %li
        %a{ href: '#', title: 'Application Tables' } Application
        %ul
          %li
            %a{ href: users_path, title: 'User Registration' } User Registration
            %a{ href: preferences_student_preferences_path, title: 'Student Preference' } Student Preferences
            %a{ href: preferences_sponsor_preferences_path, title: 'Sponsor Preference' } Sponsor Preferences

      %li
        %a.cursor-pointer Projects
        %ul
          %li
            %a{ href: projects_path, title: 'Projects table' } Current Project Table
            %a{ href: sponsors_path, title: 'Sponsor Table' } Current Sponsors Table
            %a{ href: new_sponsor_path, title: 'Create New Sponsor' } New Sponsor Form
            %a{ href: new_project_path, title: 'create New Project' } New Project Form
      %li
        %a.cursor-pointer Teams
        %ul
          %li
            %a{ href: teams_path, title: 'Team Table' } All Teams Table
            %a{ href: '#', title: 'Team Work History' } Team Work Track
            %a{ href: '#', title: 'Team Notification' } Team Notification
            %a{ href: new_team_path, title: 'Create New Team' } New Team Form
      %li
        %a.cursor-pointer Students
        %ul
          %li
            %a{ href: students_path, title: 'Student Table' } All Students Table
            %a{ href: new_student_path, title: 'Create New student' } New Student Form
            %a{ href: '#', title: 'Assign Student to Team' } Team Assignment
      %li
        %a.cursor-pointer Links
        %ul
          %li
            %a{ href: '#' } some useful links

    -#This is sponsor navigation
  - elsif current_user.utype == 'sponsor'
    %ul
      %li
        %a{ href: '/' } Home
        %ul
          %li
            %a{ href: "http://unl.edu", title: 'UNL Homepage'} UNL Homepage
            %a{ href: "http://cse.unl.edu/InnovationLab", title: 'Innovation Lab Homepage' } Innovation Lab
      %li
        %a{ href: '#', title: 'Application Tables' } Application
        %ul
          %li
            %a{ href: application_sponsor_preference_path(current_user.sponsor.id), title: 'Student Preference' } Student Application
            -#%a{ href: preferences_sponsor_preferences_path, title: 'Sponsor Preference' } Sponsor Preferences
      %li
        %a.cursor-pointer Project
        %ul
          %li
            %a{ href: projects_path, title: 'Projects table' } Current Project Table
            %a{ href: new_project_path, title: 'create New Project' } New Project Form
      %li
        %a.cursor-pointer Team
        %ul
          %li
            %a{ href: teams_path, title: 'Team Memeber List' } Team Table
            %a{ href: '#', title: 'Team Work History' } Team Work Track
            %a{ href: '#', title: 'Team Notification' } Team Notification
      %li
        %a.cursor-pointer Links
        %ul
          %li
            %a{ href: '#' } some useful links

    -# This is student navigation
  - elsif current_user.utype == 'student'
    %ul
      %li
        %a{ href: '/' } Home
        %ul
          %li
            %a{ href: "http://unl.edu", title: 'UNL Homepage'} UNL Homepage
            %a{ href: "http://cse.unl.edu/InnovationLab", title: 'Innovation Lab Homepage' } Innovation Lab
      %li
        %a.cursor-pointer Projects
        %ul
          %li
            - if !current_user.student.nil?
              %a{ href: apply_student_path(current_user.student.id), title: 'Apply for projects' } Project Apply
              %a{ href: student_preferences_path(current_user.student.id), title: 'Application Status' } Application Status
            - else
              %a{ href: new_student_path, title: 'Apply for projects', onclick: 'alert("Please create your account first")' } Project Apply
              %a{ href: new_student_path, title: 'Application Status', onclick: 'alert("Please create your account first")' } Application Status
      %li
        %a.cursor-pointer Team
        %ul
          %li
            %a{ href: team_path(Team.find(current_user.student.team_id)), title: 'Team member' } Team Members
            %a{ href: '#', title: 'Team Notification' } Team Notification
            %a{ href: work_track_team_path(current_user.student.team_id), title: 'Team Work History' } Team Work Track
      %li
        %a.cursor-pointer Links
        %ul
          %li
            %a{ href: '#' } some useful tools
      -# Default navigation after login
  - else
    %ul
      %li
        %a{ href: '/' } Home
        %ul
          %li
            %a{ href: "http://unl.edu", title: 'UNL Homepage'} UNL Homepage
            %a{ href: "http://cse.unl.edu/InnovationLab", title: 'Innovation Lab Homepage' } Innovation Lab

  -# Default navigation
- else
  %ul
    %li
      %a{ href: '/' } Home
      %ul
        %li
          %a{ href: "http://unl.edu", title: 'UNL Homepage'} UNL Homepage
          %a{ href: "http://cse.unl.edu/InnovationLab", title: 'Innovation Lab Homepage' } Innovation Lab
