%ul
    %li
        %a{ href: "#", title: "UNL homepage"} Home
    %li
        %a{ href: "#" } Projects
        %ul
            %li
                %a{ href: "#" } Pending
            %li
                %a{ href: "#" } Current
            %li
                %a{ href: "#" } Inactive
    %li
        %a{ href: "#" } Applications
        %ul
            %li
                %a{ href: "#" } Sponsor Applications
            %li
                %a{ href: "#" } Sponsor Preference
            %li
                %a{ href: "#" } Student Preference
    %li
        %a{ href: sponsors_path } Sponsors
        %ul
            %li
                %a{ href: new_sponsor_path } New
    %li
        %a{ href: instructors_path } Instructors
        %ul
            %li
                %a{ href: new_instructor_path } New
    %li
        %a{ href: students_path } Students
        %ul
            %li
                %a{ href: new_student_path } New

