%ul
    %li
        %a{ href: "#", title: "UNL homepage"} UNL
        %ul
            %li
                %a{href: "#", title: "Summary of the University"} About UNL
            %li
                %a{href: "#", title: "Official news and information from the University of Nebraska-Lincoln"} News
            %li
                %a{href: "#"} Administrative Units
            %li
                %a{href: "#"} Colleges &amp; Departments
            %li
                %a{href: "#"} Office of the Chancellor
            %li
                %a{href: "#"} Office of Academic Affairs
            %li
                %a{href: "#"} UNL Fact Book
    %li
        %a{ href: "#" } Visitor
        %ul
            %li
                %a{ href: "#" } Campus Maps
            %li
                %a{ href: "#" } Calendar of Events
            %li
                %a{ href: "#" } About Lincoln
            %li
                %a{ href: "#" } Affiliates
            %li
                %a{ href: "#" } Parent's Association
